*, body { margin:0; padding:0; border:0; }
:root {
	--&0: #000;
	--&1: #000;
	--&2: #000;
	--&3: #000;
	--&4: #000;
	--&5: #000;
	--&6: #000;
	--&7: #000;
	--&8: #000;
	--&9: #000;
	--&a: #000;
	--&b: #000;
	--&c: #000;
	--&d: #000;
	--&e: #000;
	--&f: #fff;
}

@font-face {
  font-family: Minecraft;
  src: url(../resources/fonts/Minecraft.otf);
}

body {
	font-family: Minecraft;
}