*, body { margin:0; padding:0; border:0; }
:root {
	--color-MediumPurple: #9370db;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	background-color: var(--color-MediumPurple);
}

h1 { font-family: 'Lobster', cursive; font-size: 256px; margin-bottom: -50px; color: snow; text-shadow: 1px 1px #222; }
p { font-family: 'Kalam', cursive; font-size: 30px; margin-bottom: -15px; color: snow; text-shadow: 1px 1px #222; }