* {margin:0; padding:0;}
:root {
  --color-MediumPurple: #9370db;
}
body {background-color: var(--color-MediumPurple);}
header {height:750px;}
div.headerimage {position:relative;background-color:var(--color-MediumPurple);width:95%;height:700px;margin:auto;margin-top:-110px !important;border-radius:50px;transform: rotate(-4deg);z-index:1;}
div.headerimage img {position:relative;width:100%;height:100%;border-radius:50px;object-fit: cover;}
div.header h1 {position:relative;text-align:center;margin-top:-400px;z-index:2;font-family: 'Lemonada', cursive;font-size:75px;color:var(--color-MediumPurple);text-shadow:2px 2px #010b13;}
div.header p {position:relative;text-align:center;margin-top:-50px;z-index:2;font-family: 'Lemonada', cursive;font-size:40px;color:var(--color-MediumPurple);text-shadow:2px 2px #010b13;}
div.content {margin:30px;}
div.messagecontain {overflow:auto;width:60%;margin:0 auto;margin-bottom:-10px;}
div.useravatar {position:relative;height:100px;width:100px;background-color:#ff00ff;float:left;top:20px;border-radius:100%;}
div.messagecontain div.messagetriangle {position:absolute;clip-path: polygon(60% 25%, 100% 50%, 100% 0);height:100px;width:100px;background-color:#fff;float:left;left:-50;top:40px;}
span.messagetriangleshadow {filter: drop-shadow(-5px 3px 2px rgba(50, 50, 0, 0.25));}
div.messagecontain div.message {background-color:#fff;box-shadow:0px 5px 10px 0.5px rgba(0,0,0,0.5);overflow:auto;width:80%;margin:0 auto;margin-top:15px;margin-bottom:15px;border-radius:20px;padding:10px 15px;min-height:100px;word-wrap: break-word;}
div p.messagetext {font-family: 'Comfortaa', cursive;}