*, body {
	margin: 0;
	padding: 0;
	border: 0;
}

@font-face { font-family: TF2 Build; src: url(tf2build.ttf); }

body {
	background: #9370db;
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

h1 { 
	font-family: TF2 Build;
	margin-bottom: 15px;
	color: snow;
	cursor: default;
}