* {margin:0; padding:0;}
:root {
  --color-MediumPurple: #9370db;
}
body {background-color: var(--color-MediumPurple);}
h1 {text-align: center; margin-top:50px; margin-left:-30; font-family: 'Lemonada', cursive; font-size:150px;}
p {text-align: center; font-family: 'Lemonada', cursive; font-size:25px;margin-top:-125px;}
.button-goback {
	box-shadow: 0px 1px 5px -1px #000000;
	background-color:var(--color-MediumPurple);
	border-radius:42px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:15px 30px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
        margin-top:30px;
}
.button-goback:hover {
	background-color:var(--color-MediumPurple);
}
.button-goback:active {
	position:relative;
	top:1px;
}