*, body {
	margin: 0;
	padding: 0;
	border: 0;
}

@font-face { font-family: TF2 Build; src: url(tf2build.ttf); }
@font-face { font-family: TF2 Secondary; src: url(TF2secondary.ttf); }

body {
	background: #9370db;
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
}

img#header {
	height: 512px;
}

img#badge {
	height: 64px;
}

h1 { font-family: TF2 Build; margin-bottom: 128px; color: snow; }
p { font-family: TF2 Secondary; color: snow; }

div.item {
	display: flex;
	justify-content: center;
	align-items: center;
}