*, body {
	margin: 0;
	padding: 0;
	border: 0;	
}

black, darkBlue, darkGreen, darkAqua, darkRed, darkPurple, gold, gray, darkGray, blue, green, aqua, red, lightPurple, yellow, white {
	text-shadow: 2px 2px #00000077;
}

#sign black, #sign darkBlue, #sign darkGreen, #sign darkAqua, #sign darkRed, #sign darkPurple, #sign gold, #sign gray, #sign darkGray, #sign blue, #sign green, #sign aqua, #sign red, #sign lightPurple, #sign yellow, #sign white {
	text-shadow: 2px 2px #00000077;
}

black {
	color: #000000;
}
darkBlue {
	color: #0000AA;
}
darkGreen {
	color: #00AA00;
}
darkAqua {
	color: #00AAAA;
}
darkRed {
	color: #AA0000;
}
darkPurple {
	color: #AA00AA;
}
gold {
	color: #FFAA00;
}
gray {
	color: #AAAAAA;
}
darkGray {
	color: #555555;
}
blue {
	color: #5555FF;
}
green {
	color: #55FF55;
}
aqua {
	color: #55FFFF;
}
red {
	color: #FF5555;
}
lightPurple {
	color: #FF55FF;
}
yellow {
	color: #FFFF55;
}
white {
	color: #FFFFFF;
}

@font-face { font-family: Minecraft; src: url(src/Minecraft.otf); }

body {
	background: #9370db;
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: Minecraft;
	cursor: default;
}

#tony {
	height: auto;
	width: 128px;
}

#tonyNameplate {
	margin-top: 30px;
	background-color: #00000066;
	padding: 2px 5px;
	margin-bottom: 10px;
}

#storeTitle { 	
	margin-bottom: 30px;	
	margin-top: 30px;
}

#itemFrame {
	background-image: url(src/background/itemframe.png);
	height: 128px;
	width: 128px;
}

#sign {
	background-image: url(src/background/sign.png);
	height: 70px;
	width: 128px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-shadow: 2px 2px #0003;
	font-size: 15px;
}